<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wwx.mall.mapper.UserMapper">

    <select id="selectTotalGoods" resultType="java.lang.Integer">
        select count(id) from cskaoyan_mall_goods
    </select>
    <select id="selectTotalUser" resultType="java.lang.Integer">
        SELECT count(id) from cskaoyan_mall_user
    </select>
    <select id="selectTotalProduct" resultType="java.lang.Integer">
        SELECT count(id) from cskaoyan_mall_goods_product
    </select>
    <select id="selectTotalOrder" resultType="java.lang.Integer">
        SELECT count(id) from cskaoyan_mall_order
    </select>
</mapper>
